

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes blink {
	0% {opacity: 0}
	49%{opacity: 0}
	50% {opacity: 1}
}

blink{animation: blink 1s infinite;}
tr.status {
  font-family: monospace;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;

}
td.status {
  border: 1px solid rgb(165, 165, 165)  ;
  padding: 3px;
  background-color: rgb(231, 231, 231);
  color: black;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border-spacing: 0;
}
th.status {
  border: 1px solid rgb(165, 165, 165)  ;
  padding: 3px;
  background-color: silver;
  color: black;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;  
  border-spacing: 0;  
}
table.status {
  border: 1px solid black;
  padding: 0px;
  background-color: rgb(231, 231, 231);
  color: black;
  border-spacing: 0;  
}

.msg_header {
  background-color: rgb(231, 231, 231);
}

.decoded_table {
  font-family: monospace;
}